.content
  display: flex
  flex-direction: column
  color: slategrey
  .UI
    display: flex
    width: 40em
    height: 50em
    background: aliceblue

    .first-user
      background: red
      width: 7rem

    .second-user
      background: aqua
      width: 7rem

    .message-box
      background: blue
      width: 26rem

  h1, .UI
    margin: 0 auto 0 auto