body
  background: #edeef0
  margin: 0

.content
  display: flex
  flex-direction: column
  color: slategrey
  font-family: Bahnschrift, monospace

  .useless-stuff
    display: flex
    justify-content: center
    align-content: center
    max-height: 1em
    p
      margin: 0 !important
    a
      text-align: center
      margin-bottom: .2em

  .app-header
    margin-bottom: .9em
    background: #285473
    flex-direction: row

    .app-name
      display: flex
      width: 70em
      margin: 0 auto 0 auto
      color: white

      h1
        font-size: 1.8em
        margin: 0 auto 0 .3em

  .info-block
    display: flex
    flex-direction: column
  //.log-user
  //  display: flex
  //  justify-content: flex-end
  //  width: 15em
  //  margin-left: auto
  .UI
    display: flex
    width: 70em
    height: calc(100vh - 2.5em - 0.7em - 1em)
    color: gainsboro
    margin: 0 auto 0 auto

    .user-heap, .message-box, .log-user, .attachment-box
      border-radius: .3em
    .confirm-block
      display: flex
      flex-direction: column
      justify-content: space-between
      .submit
        display: flex
        input
          width: 12em
          height: 2.3em
          margin: 1em auto 1em auto
          border-radius: .3em
          background: whitesmoke
          border: #91a9c1 solid .05em
          color: #285473
          cursor: pointer

    .user-heap, .log-user, .attachment-box, .confirm-block
      color: #285473
      text-align: left
      background: white
      width: 13rem
      height: 20em
      min-height: 5em
      overflow-y: auto

      .info
        p
          text-align: center

      .user, .log
        display: flex
        flex-direction: row
        font-size: .8em
        text-align: left
        margin-left: 1em
        p
          margin: 0
        i
          margin-right: .3em

      hr
        background-color: #eee
        border: 0
        height: .1em

    .log-user
      margin-top: 1em
      height: calc(100vh - 20em - 25em)

    .message-box
      display: flex
      background: white
      width: 37rem
      flex-direction: column
      justify-content: end
      -webkit-justify-content: flex-end
      margin-left: 1em
      margin-right: 1em

      .messages
        word-wrap: break-word
        overflow-y: auto
      img
        max-width: 33em
      .message
        padding: .05em 1em .05em 1em
        display: flex
        flex-direction: column
        color: #666
        margin-bottom: .5em
        p
          font-family:  -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif
          overflow-wrap: break-word
          word-wrap: break-word
          word-break: normal
          line-break: strict
          hyphens: none
          -webkit-hyphens: none
          -moz-hyphens: none
          padding: 0
          margin: 0
          font-weight: 400

          &:not(.name)
            max-width: 30em
            color: #8a8a8a

        .name
          max-height: 2em
          color: #285473
          font-weight: bolder

      .input
        display: flex
        justify-content: center
        min-height: 2.5em
        max-height: 2.5em
        border-top: darkgrey solid .02em
        border-bottom: darkgrey solid .02rem

        border-bottom-left-radius: .3em
        border-bottom-right-radius: .3em
        background: #fdfdfd
        i
          display: flex
          font-size: 1.3em
          padding: .5em
          color: silver

        input
          height: 2.2em

          &[type="text"]
            width: 35em
            border: #91a9c1 solid .01em
            border-radius: .3em
            padding: .5em
            margin: auto 0
            .message-sender
              width: 34em

          &[type="submit"]
            border-radius: .3em
            width: 5em
            background: whitesmoke
            border: #91a9c1 solid .05em
            color: slategrey
            cursor: pointer
            margin: auto .3em auto .5em

          &[type='file']
            display: none
