doctype !html

head
    meta(charset='UTF-8')
    block links
        link(rel='stylesheet' type='text/css' href='./chatStyle.css')
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous')
    block title

body
    .content
        block content
        .app-header
            .app-name
                h1 Websocket App

        .UI
            .info-block
                .user-heap
                    .info
                        p This chat features
                        hr
                    .users

                .log-user
                    .info
                        p Users Logs
                        hr
            .message-box
                .messages
                    .message
                        img(id='test')
                .input.auth
                    input(type='text' placeholder='Введите свое имя')
                    input(type='submit' value='Send')
                .input.message-sender(style={display:'none'})
                    i.fas.fa-thumbtack
                    input(type='text' placeholder='Введите сообщение')
                    input(type='submit' value='Send')
                    input(type='file' accept=".png, .jpg, .jpeg .gif" multiple)
            .attachment-box
                .confirm-block
                    .info
                        p Here will temporary stored image you want to send
                        hr
                    .images
                    .submit
                        hr
                        input(type='button' class='submitImages' value="Submit")

block scripts
script(src='./client.js')