doctype !html

head
    meta(charset='UTF-8')
    block links
        link(rel='stylesheet' type='text/css' href='./chatStyle.css')
    block title

body
    .content
        block content
        .app-header
            .app-name
                h1 Websocket App
        .UI
            .info-block
                .user-heap
                    .info
                        p This chat features
                        hr
                    .users

                .log-user
                    .info
                        p Users Logs
                        hr
            .message-box
                .messages
                .input.auth
                    input(type='text' placeholder='Введите свое имя')
                    input(type='submit' value='Send')
                .input.message-sender(style={display:'none'})
                    input(type='text' placeholder='Введите сообщение')
                    input(type='submit' value='Send')

block scripts
script(src='./client.js')